.site-header {
	background: var(--background-light);
	margin: -1rem -1rem 0 -1rem;
	padding: 1rem;
}

.site-branding {
	color: var(--color-dark);
	font-size: 1.5rem;
	font-variation-settings: 'wght' 100;

	:hover {

		@media (hover: hover) {
			color: var(--color-accent);
		}
	}

	a {
		padding: 0.25rem 0;
		text-decoration: none;
	}
}

