$breakpoint-mobile-small: 340px;
$breakpoint-mobile: 400px;
$breakpoint-mobile-large: 440px;
$breakpoint-mobile-landscape: 600px;

$breakpoint-tablet: 700px;
$breakpoint-tablet-landscape: 960px;

$breakpoint-desktop: 1160px;
