*,
*::before,
*::after {
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: inline-block;
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

:where(h1, h2, h3, h4, h5, h6, p ) {
  margin: 0;
}
