//:root {
//	--background-light: hsl(66deg 70% 50%);
//	--background-lighter: hsl(66deg 70% 80%);
//
//	--background-darkmode: hsl(66deg 70% 10%);
//
//	--color-accent: hsl(293deg 80% 50%);
//	--color-accent-dark: hsl(293deg 30% 50%);
//	--color-dark: hsl(293deg 80% 5%);
//
//}

:root {
	--background-light: hsl(31deg 70% 50%);
	--background-lighter: hsl(66deg 70% 80%);
	--background-darkmode: hsl(66deg 70% 10%);
	--color-accent: hsl(250deg 80% 30%);
	--color-accent-dark: hsl(293deg 30% 50%);
	--color-dark: hsl(293deg 80% 5%);
}
