
:root {
	--main-max-inline: 1160px;
}

:root {
	font-size: 1rem;

	@media (min-width: $breakpoint-tablet) {
	font-size: 1.25rem;
	}
}

.screen-reader-text {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.stop-scroll {
	touch-action: none;
	overflow: hidden;
	overscroll-behavior: none;
}

body {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}

@supports (font-variation-settings: normal) {
	body {
		font-family: "Open SansVariable", sans-serif;
		font-variation-settings: 'wght' 400, 'wdth' 100;
	}
}

.page-outer {
	background: black;
	color: white;
}

.page-inner{
	display: grid;
	gap: 4rem;
	grid-template-rows: max-content 1fr max-content;
	min-block-size: 100vh;
	padding: 1rem;
}

.main-content {
	margin-inline: auto;
	max-inline-size: var(--main-max-inline);
}

.app-page-heading {
	font-size: 3.5rem;
	font-variation-settings: 'wght' 400;
	margin-block-end: 2rem;

	@media (min-width: $breakpoint-mobile-large){
		font-size: 4rem;
		font-variation-settings: 'wght' 300;
	}
}

:any-link {
	color: inherit;
}

p code {
	color: #B58451;
}
